.title + .option {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.last_option {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.option:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
