body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mask_input {
  width: 100%;
  min-width: 0;
  outline: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.0625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  border-radius: 9999px;
  border: 1px solid;
  border-color: inherit;
  margin-top: 1rem;
}

.mask_input:focus {
  z-index: 1;
  border-color: #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
}
.shake_animation {
  outline-color: red !important;
  border-color: red !important;
  animation: shake 0.5s linear;
}

@keyframes shake {
  8%,
  41% {
    -webkit-transform: translateX(-8px);
  }
  25%,
  58% {
    -webkit-transform: translateX(8px);
  }
  75% {
    -webkit-transform: translateX(-3px);
  }
  92% {
    -webkit-transform: translateX(3px);
  }
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1) translateY(-50%);
  }

  100% {
    transform: scale(1.5) translateY(-50%);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(0) translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(-50%);
    opacity: 1;
  }
}

@keyframes zoomout {
  0% {
    transform: scale(1) translateY(-50%);
    opacity: 1;
  }

  100% {
    transform: scale(0.5) translateY(-50%);
    opacity: 0;
  }
}
.title + .option {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.last_option {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.option:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
